<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onLoadNewPlace()">
          <ion-icon name="add"> </ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Just Places
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color:lightslategray">
  <!-- <ul>
    <li *ngFor="let place of places">{{ place.title }}</li>
  </ul> -->
  <ion-list>
    <ion-item *ngFor="let place of places" (click)="onOpenPlace(place)">{{ place.title }}</ion-item>
  </ion-list>
</ion-content>
